/**
 * Content (objects/_content.scss)
 */

/* ----- Headings ----- */
.content {
	> :first-child {
		margin-top: 0;
	}
}

.home-content {
	h1 {
		font-size:2.0em;
	}
	font-size:1.15rem;
}

.icon.call-out {
	font-size: 2.5em;
	color: $color-light-blue;
	vertical-align: middle
}