/**
 * Icons (objects/_icons.scss)
 */

/* ----- General ----- */
@font-face {
	font-family: 'icons';
	src: url('../fonts/icons/icons.ttf') format('truetype'),
		 url('../fonts/icons/icons.woff') format('woff'),
		 url('../fonts/icons/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

/* ----- List of icons ----- */
.icon--cog:before {
	content: "\f013";
}
.icon--gear:before {
	content: "\f013";
}
.icon--cogs:before {
	content: "\f085";
}
.icon--gears:before {
	content: "\f085";
}
.icon--external-link:before {
	content: "\f08e";
}
.icon--feed:before {
	content: "\f09e";
}
.icon--rss:before {
	content: "\f09e";
}
.icon--globe:before {
	content: "\f0ac";
}
.icon--wrench:before {
	content: "\f0ad";
}
.icon--chain:before {
	content: "\f0c1";
}
.icon--link:before {
	content: "\f0c1";
}
.icon--terminal:before {
	content: "\f120";
}
.icon--code:before {
	content: "\f121";
}
.icon--compass:before {
	content: "\f14e";
}
.icon--youtube-square:before {
	content: "\f166";
}
.icon--cube:before {
	content: "\f1b2";
}
.icon--cubes:before {
	content: "\f1b3";
}
.icon--copyright:before {
	content: "\f1f9";
}
.icon--trademark:before {
	content: "\f25c";
}
.icon--registered:before {
	content: "\f25d";
}
.icon--handshake-o:before {
	content: "\f2b5";
}
.icon--user-circle:before {
	content: "\f2bd";
}
.icon--user-circle-o:before {
	content: "\f2be";
}
.icon--user-o:before {
	content: "\f2c0";
}
.icon--facebook:before {
	content: "\e905";
}
.icon--linkedin:before {
	content: "\e907";
}
.icon--groupsio:before {
	content: "\e900";
}
.icon--bitbucket:before {
	content: "\e901";
}
.icon--codepen:before {
	content: "\e902";
}
.icon--github:before {
	content: "\e906";
}
.icon--slack:before {
	content: "\e913";
}
.icon--twitter:before {
	content: "\e917";
}
.icon--youtube:before {
	content: "\e918";
}
.icon--book:before {
	content: "\e903";
}
.icon--books:before {
	content: "\e904";
}
.icon--owasp:before {
	content: "\e908";
}
.icon--arrow-down:before {
	content: "\e919";
}
.icon--arrow-left:before {
	content: "\e91a";
}
.icon--arrow-right:before {
	content: "\e91b";
}
.icon--arrow-up:before {
	content: "\e91c";
}
.icon--chevron-down:before {
	content: "\e91d";
}
.icon--chevron-left:before {
	content: "\e91e";
}
.icon--chevron-right:before {
	content: "\e91f";
}
.icon--chevron-up:before {
	content: "\e920";
}
.icon--home:before {
	content: "\e921";
}
.icon--maximize:before {
	content: "\e922";
}
.icon--x:before {
	content: "\e923";
}
