/**
 * Hero Headline (components/_hero-headline.scss)
 */

/* ----- Header Text ----- */
.hero-headline {
  display:flex;
  height: auto;
  margin: 0;
  font-family: 'Montserrat';
  font-size: 2.5em;
  font-weight: bold;
  line-height: 3rem;
}
.hero-sub-headline {
  line-height: 1.375rem;
  margin: 1.5rem 0 0 0;
}
.hero-button-wrapper {
  margin-top: 2.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-description {
  margin: 0;
  font-size:1rem;
  font-family: 'Noto Sans';
}

/* ----- Carousel ----- */
#hero-carousel .image_overlay::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(95.27deg, #031633 0%, rgba(51, 162, 198, 0.4) 160.16%);
}
#hero-carousel .carousel-item {
	background-size: cover;
	background-position: center;
	width:100%;
	height: 400px;
	overflow: hidden;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 48px;
  height: 48px;
}
#carousel-col {
  margin: 0 4.375rem 0 4.375rem;
  padding: 0 0 0 0;
  height: 400px;
}

/* ----- Media Queries ----- */
@media screen and (min-width: 1400px) {
  #carousel-col {
    margin: 0 0 0 1rem; } }
    
@media screen and (min-width: $screen-lg-min) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 120px; }
  #carousel-col {
    padding: 2.5rem 0 0 0; } }

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 88px; }
  #carousel-col {
    margin: 0 5.5rem 0 5.5rem;
    height: 360px;
    padding: 2.5rem 0 0 0; }
  .hero-headline {
    font-size: 2em;
    line-height: 39px; }
  #hero-carousel .carousel-item {
    height: 360px;
    position: relative; } }

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 88px; }
  #carousel-col {
    margin: 0 5.5rem 0 5.5rem;
    height: 400px;
    padding-top: 2.5rem; }
  .hero-headline {
    font-size: 2em;
    line-height: 39px; }
  #hero-carousel .carousel-item {
    height: 400px; } }

@media screen and (max-width: $screen-xs-max) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 80px; }
  .hero-headline {
    font-size: 1.5em;
    line-height: 29px; }
  #carousel-col {
    padding: 2.125rem 0.625rem 0 0.625rem;
    height: 320px; }
  #hero-carousel .carousel-item {
    height: 320px; } }

@media screen and (max-width: 620px) {
  #hero-carousel .carousel-item {
    height: 420px; }
  #carousel-col {
    height: 420px; } }

@media screen and (max-width: $screen-xs-min) {
  .hero-headline {
    font-size: 1.25em;
    line-height: 24px;
    margin: 0 0.625rem 0 0.625rem; }
  .hero-button-wrapper {
    width: 170px;
    margin-bottom: 0.75rem; }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px; }
  #carousel-col {
    margin: 0 2.5rem 0 2.5rem;
    height: 480px; }
  #hero-carousel .carousel-item {
    height: 480px; }
  .hero-sub-headline {
    margin: 1.5rem 0.625rem 0 0.625rem; } }

@media screen and (max-width: 359.99px) {
  .hero-headline {
    font-size: 1em;
    line-height: 22px; } }

@media screen and (max-width: 319.99px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 30px;
    height: 30px; }
  .hero-headline,
  .hero-description {
    font-size: 1rem;
    line-height: 20px; }
  #carousel-col {
    margin: 0 2.5rem 0 2.5rem;
    height: 500px;
    padding: 2.125rem 0 0 0; }
  #hero-carousel .carousel-item {
    height: 500px; }}

/* --------------------------------

fadeIn animation

-------------------------------- */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
