/**
 * Hero subheader (components/_hero-subheader.scss)
 */

/* ----- General ----- */
.hero-subheader {
	color: $color-white;
	padding: 3.75rem 0 (4.6875rem - 1.25rem) 0;
	line-height: 2rem;
	height:500px;
	max-height:500px;
	width: auto;

	.btn {
		margin: 1.5rem .9375rem 0 0;
		margin-right: .9375rem;
		float: right;
		padding: 1rem 1.5rem 1rem 1.5rem;
		background-color: #0D6EFD;
		border-radius: 6px;
		border: none;
		color: white;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		opacity: 0;
		animation: fadeIn 0.8s ease-in-out forwards;
		animation-delay: 0.8s;
	}		

	.guide-btn {
		float: none;
		padding: 0.5rem 1rem;
	}

	.btn--github,
	.btn--w-arrow-down {
		@extend .btn--dark;
	}

	.site-header + & {
		padding: (5.625rem + 2.5rem) 0 (10.3125rem - 1.25rem) 0;
		@media screen and (max-width: $screen-xs-max) {
			padding: (5.625rem + 1.0rem) 0.9375rem 40px (2.5rem - 0.9375rem);
			height: fit-content;
			max-height: fit-content;
		}
	}
}

.hero-subheader--before-out {
	@media (min-width: $screen-xs-max) {
		padding: 9.375rem 0 (15.3125rem - 1.25rem) 0;
	}
}

/* ----- Title ----- */
.hero-subheader__title {
	margin-top: 0;
}

/* ----- Title ----- */
.hero-subheader__desc {
	margin-bottom: 1.875rem;
	font-size: 1.4rem;
}

/* ----- Author ----- */
.hero-subheader__author {
	border-left: 2px solid;
	padding-left: 2.5rem;

	.btn {
		margin-bottom: 0;
	}
}

.hero-subheader__author-title {
	font-size: $font-size-h5;
}

/* ----- More ----- */
.hero-subheader__btn-more {
	color: inherit;
}
