/**
 * Site header (components/_site-header.scss)
 */

/* ----- General ----- */
.header-container {
	background-image: url("/theme/assets/images/hero-header.png");
	background-size: cover;
	width: 100%;
}
.site-header {
	position: absolute;
	width: 100%;
	height: 5.625rem;
	border-bottom: 1px solid rgba(#0064A1, .35);
}
.theme-background {
	background: $color-theme-blue;
}

/* ----- Navigation ----- */
.site-header__logo {
	@include link-reset;
	display: block;
	float: left;
	color: $color-dark-blue;
	font-family: $font-family-secondary;
	font-weight: bold;
	font-size: 2em;
	line-height: 5.625rem;

	&:hover,
	&:focus,
	&:active {
		color: $color-dark-blue;
	}

	img {
		height: calc(5.625rem - 1px);
	}
}

/* ----- Navigation ----- */
.site-header__nav {
	@include list-horizontal;
	@include clearfix;
	float: right;
	margin-bottom: 0;

	li {
		+ li {
			margin-left: 1rem;
		}
	}

	a {
		@include link-reset;
		display: block;
		font-size: .875em;
		font-weight: 500;
		font-family: $font-family-secondary;
		line-height: calc(5.625rem - 1px);
		text-transform: uppercase;
		border-bottom: 1px solid;
		border-color: transparent;
		transition: border-color .2s;

		&:hover,
		&:focus,
		&:active {
			/* border-color: $color-orange; */
		}
	}
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $color-theme-blue;
	box-shadow: 0 0 20px 0px rgba(64, 64, 64, 0.16);
	padding: 0;
	z-index: 990;
}

/* ----- Offcanvas ----- */
.offcanvas {
	overflow: hidden;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: $color-white;
	position: fixed;
	top: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	@include translate(0, -1.875rem);
	transition: transform .2s, opacity .2s, visibility .2s;
	z-index: $z-index-offcanvas;

	.offcanvas-expanded & {
		opacity: 1;
		visibility: visible;
		@include translate(0, 0);
	}
}

/* ----- Offcanvas navigation ----- */
.offcanvas__nav {
	height: 100%;
	overflow: scroll;
	padding-top: 5rem;
	padding-bottom: 5rem;
	-webkit-overflow-scrolling: touch;

	li {
		padding: 0;

		&::before {
			display: none;
		}

		+ li {
			margin-top: 1.25rem;
		}
	}

	a {
		@include link-reset;
		color: $color-dark-blue;
		font-family: $font-family-secondary;
		text-transform: uppercase;
	}

	.heading {
		color: $color-dark-blue;
		font-family: $font-family-secondary;
		font-size: 1.2em;
		font-weight: bold;
	}

	:not(.heading) {
		margin-left: 0.5em;
	}
}

/* ----- Offcanvas toggle ----- */
.offcanvas-toggle {
	height: calc(5.625rem - 1px);
	width: 5.625rem;
	cursor: pointer;
	position: fixed;
	right: 0;
	top: 0;
	@include translate3d(0, 0, 0);
	z-index: $z-index-offcanvas-toggle;

	span {
		display: block;
		height: 2px;
		width: 1.875rem;
		background-color: $color-hamburger;
		position: absolute;
		left: 1.875rem;
		transition: top .2s, transform .2s, opacity .2s;

		&:first-child {
			top: 2.125rem;
		}

		&:nth-child(2) {
			top: 2.6875rem;
		}

		&:last-child {
			top: 3.25rem;
		}
	}

	.offcanvas-expanded & {
		span {
			&:first-child,
			&:last-child {
				top: 2.6875rem;
			}

			&:first-child {
				@include rotate(45);
			}

			&:last-child {
				@include rotate(-45);
			}

			&:nth-child(2) {
				opacity: 0;
			}
		}
	}
}

.site-header__nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: visible;
}

li.dropdown {
	float: left;
}

.dropdown li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown .dropdown-content a {
	line-height: 1.4em;
}

.dropdown:hover .dropbtn {
	background-color: rgba(1,101,161,0.1);
}

li.dropdown a:hover {
	background-color: rgba(255,184,69,.8);
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #efefef;
	min-width: 250px;
	box-shadow: 4px 4px 20px rgba(34,34,34,0.2);
	/* box-shadow: 10px 10px 6px rgba(34,34,34,0.3); */
	z-index: 9999;
}

.dropdown-content a {
	color: #071525;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #e0e0e0;
	z-index: 9999;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* =========================================================
        CTA-Section STYLE
============================================================ */
.news-section {
	background-color: #f8f8f8;
	padding: 45px 0 10px;
}
.news-section .news a {
	color: #0057C4;
}
.cta-section {
	background-color: #f8f8f8;
	padding: 45px 0 90px; }
.cta-section .cta-wrapper:hover {
	border-color: #0057C4;
}
@media only screen and (max-width: 767px) {
	.cta-section {
		padding: 35px 0 25px; } }
.cta-section .cta-wrapper {
	background-color: #FFFFFF;
	padding: 35px 10px;
	border: 2px solid #f1f1f1; }
.cta-section .cta-wrapper:hover a {
	color: #089af7; }
@media only screen and (max-width: 991px) {
	.cta-section .cta-wrapper {
		margin-bottom: 30px; } }
@media only screen and (max-width: 767px) {
	.cta-section .cta-wrapper {
		margin-bottom: 20px; } }
.cta-section .cta-wrapper h1, .cta-section .cta-wrapper h3 {
	font-weight: normal;
	font-size: 22px;
	margin: 20px 0 15px; }
.cta-section .cta-wrapper h1 a, .cta-section .cta-wrapper h3 a {
	color: $color-blue; }
.cta-section .cta-wrapper p {
	color: #555555; }
.cta-section .cta-wrapper .link:hover {
	color: #313131; }
.cta-section .cta-wrapper .link i {
	padding-left: 5px; }
