<h2>Java (Maven)</h2>
<p>
    The Maven plugin creates CycloneDX BOMs from existing Java projects. The plugin will
    automatically resolve all metadata for all direct and transitive dependencies.
</p>

<h5>Creating a BOM</h5>
{% highlight plaintext %}
mvn org.cyclonedx:cyclonedx-maven-plugin:makeBom
{% endhighlight %}

<h5>Creating an Aggregate BOM</h5>
{% highlight plaintext %}
mvn org.cyclonedx:cyclonedx-maven-plugin:makeAggregateBom
{% endhighlight %}

<h5>Maven Defaults</h5>
{% highlight xml %}
{% raw %}
<plugin>
  <groupId>org.cyclonedx</groupId>
  <artifactId>cyclonedx-maven-plugin</artifactId>
  <version>LATEST</version>
  <executions>
    <execution>
      <phase>verify</phase>
      <goals>
        <goal>makeAggregateBom<goals>
      </goals>
    </execution>
  </executions>
  <configuration>
    <includeCompileScope>true</includeCompileScope>
    <includeProvidedScope>true</includeProvidedScope>
    <includeRuntimeScope>true</includeRuntimeScope>
    <includeSystemScope>true</includeSystemScope>
    <includeTestScope>false</includeTestScope>
    <includeDependencyGraph>true</includeDependencyGraph>
  </configuration>
</plugin>
{% endraw %}
{% endhighlight %}

NOTES:
<ul>
    <li>The <code>makeBom</code> and <code>makeAggregateBom</code> goals can optionally be skipped by setting <code>cyclonedx.skip</code> to true.</li>
    <li>By default the BOM will be attached as an additional artifact which will be installed, uploaded, or deployed as <code>${project.artifactId}-${project.version}-cyclonedx.xml</code>. This may be switched off by setting <code>cyclonedx.skipAttach</code> to true.</li>
</ul>
