<h2>Python</h2>
<p>
    The Python module creates CycloneDX BOMs from existing Python projects that have dependencies
    managed through pypi. The module will automatically resolve all metadata (via pypi) for all
    dependencies identified in requirements.txt. A bill-of-material such as CycloneDX expects exact
    version numbers. Therefore requirements.txt must be frozen. This can be accomplished via:
</p>

<h5>Freezing</h5>
<pre class="highlight">
<code>pip freeze > requirements.txt</code>
</pre>

<h5>Installing</h5>
<pre class="highlight">
<code>pip install cyclonedx-bom</code>
</pre>

<h5>Creating a BOM</h5>
<pre class="highlight">
<code>cyclonedx-py -i requirements.txt -o bom.xml</code>
</pre>