/**
 * Base (generic/_base.scss)
 */

/* ----- General ----- */
html {
	font-size: 0.9375rem;
	@include box-sizing(border-box);
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (min-width: $screen-sm-min) {
		font-size: 16px;
	}
}

body {
	color: $color-dark;
	background-color: $color-white;
	font-family: $font-family-primary;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

/* ----- Everything ----- */
* {
	&,
	&::before,
	&::after {
		@include box-sizing(inherit);
	}
}

/* ----- Headings ----- */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $font-family-secondary;
	font-weight: 400;
	line-height: $line-height-headings;
	margin: 2.5rem 0 .9375rem 0;

	& + & {
		margin-top: 0;
	}
}

h1, .h1 {
	font-size: $font-size-h1;
	font-weight: 700;
}

h2, .h2 {
	font-size: $font-size-h2;
	font-weight: 700;
	border-bottom: 1px solid $color-h2-border;
	padding-bottom: .5rem;
}

h2:before, h3:before {
	display: block;
	content: " ";
	height: 90px;      /* Give height of your fixed element */
	margin-top: -90px; /* Give negative margin of your fixed element */
	visibility: hidden;
}

h3, .h3 {
	font-size: $font-size-h3;
	font-weight: 500;
}

h4, .h4 {
	font-size: $font-size-h4;
}

h5, .h5 {
	font-size: $font-size-h5;
}

h6, .h6 {
	font-size: $font-size-h6;
}

/* ----- News article listing ----- */
.article-item .title {
	font-family: $font-family-secondary;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: $line-height-headings;
	color: $color-blue;
	margin: 2.5rem 0 0 0;
	text-decoration: none;
}

.article-item .title a {
	border-bottom: 0;
}

.article-item .subtitle {
	font-size: 1.1rem;
	color: #0C3A76;
}

.article-item .date {
	color: $color-pre-border;
	font-weight: 600;
}

.article-item .overview {
	margin-top: 1.1rem;
}

.article-item {
	padding-bottom: 1.5rem;
}

/* ------ Calendar Icon ------ */
time.calendar-icon {
	font-size: 0.8em;
	display: block;
	position: relative;
	width: 5em;
	height: 5em;
	background-color: $color-white;
	border-radius: 0.6em;
	box-shadow: 0 1px 0 #bdbdbd;
	overflow: hidden;
}
time.calendar-icon * {
	display: block;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
time.calendar-icon strong {
	line-height: 1.5em;
	font-family: $font-family-primary;
	position: absolute;
	top: 0;
	padding: 0;
	color: $color-white;
	background-color: #414D71;
	box-shadow: 0 2px 0 $color-horizontal-rule;
}
time.calendar-icon em {
	font-family: $font-family-primary;
	font-style: normal;
	line-height: 1.3em;
	position: absolute;
	bottom: 0;
	color: #414D71;
}
time.calendar-icon span {
	font-family: $font-family-primary;
	font-size: 1.8em;
	letter-spacing: -0.05em;
	padding-top: 0.9em;
	color: #2f2f2f;
}
/* ----- Inline elements ----- */
small,
.text-small {
	font-size: $font-size-small;
}

/* ----- Paragraphs ----- */
p {
	margin: 0 0 1.25rem 0;
}

/* ----- Hyperlinks ----- */
a {
	/* color: inherit; */
	color: $color-blue;
	text-decoration: none;
	border-bottom: .0625em solid;
	border-color: inherit;
	padding-bottom: .125em;
}

/* ----- Images ----- */
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

/* ----- Horizontal rules ----- */
hr {
	border: 0;
	border-top: 1px solid $color-horizontal-rule;
	margin: 0 0 1.25rem 0;
}

/* ----- States ----- */
::-moz-selection {
	background: rgba($color-yellow, .99);
	color: $color-dark-blue;
}

::selection {
	background: rgba($color-yellow, .99);
	color: $color-dark-blue;
}

/* ----- Quotes ----- */
blockquote {
	margin: 0 0 1.25rem 0;
}

q {
	color: $color-dark-blue;
}

/* ----- Lists ----- */
ul:not(.navtab) {
	list-style-type: none;
	padding: 0;
	margin: 0 0 1.25rem 0;

	li {
		position: relative;
		padding-left: 1.875rem;
		margin-bottom: .3125rem;

		&:before {
			content: '\2014';
			color: $color-list-prefix;
			position: absolute;
			left: 0;
		}
	}
}

/* ----- Definition lists ----- */
dl {
	margin: 0 0 1.25rem 0;

	dt {
		color: $color-definition-list;
		font-weight: 700;
	}

	dd {
		margin: 0;
	}
}

/* ----- Acronym and Emphasize tags ----- */
acronym,
em {
	font-style: italic;
}

/* ----- Tables ----- */
table {
	width: 100%;
	text-align: left;
	font-size: $font-size-base;
	border-collapse: collapse;
	margin: 0 0 1.25rem 0;

	th, td {
		border: 2px solid $color-table-border;
		vertical-align: middle;
		padding: .625rem .9375rem;

		@media (min-width: $screen-sm-min) {
			padding: .8125rem 1.25rem;
		}

		a {
			border-color: $color-dark;
		}
	}

	th {
		font-family: $font-family-secondary;
		text-transform: uppercase;
		background-color: $color-table-header-bg;
		border-color: $color-table-header-border;
	}
}

.table-responsive {
	width: 100%;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 1.25rem 0;

	@media (min-width: $screen-sm-min) {
		overflow-x: visible;
	}

	table {
		min-width: 43.75rem;
		margin: 0;

		@media (min-width: $screen-sm-min) {
			min-width: 0;
			margin: 0;
		}
	}
}

/* ----- Iframe ----- */
iframe {
	display: block;
	border: 0;
	margin: 0 0 1.25rem 0;
}

/* ----- Button ----- */
button {
	border: 0;
	padding: 0;
	background-color: transparent;

	&:focus {
		outline: none;
	}
}
img.adopter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 170px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
img.profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	border-radius: 50%;
}
h4.profile-name {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	margin: 1rem 0 .9375rem 0;
}
.profile-org {
	font-size: 0.9em;
	font-weight: normal;
	text-align: center;
}
.profile-org a {
	color: $color-dark-blue;
}
.profile-org a:hover {
	text-decoration: none !important;
	color: #3067AA;
}
.profile-social {
	font-size: 1.4em;
	letter-spacing: 0.3em;
	text-align: center;
	color: #253951;
}
.profile-social a {
	color: $color-dark-blue;
	text-decoration: none !important;
	border: 0;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.profile-social a:hover {
	text-decoration: none !important;
	color: $color-blue;
}

.text-center {
	text-align:center
}

.guides-header {
	padding: 0 20px 0 20px;
	margin: 20px 0 8px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}

.guides-subheader {
	padding-left: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #6C757D;
}

.guides-text {
	padding: 0 20px;
	color: #6C757D;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}

.coming-soon-card {
	display: block;
	border-top: 3px solid #6C757D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	overflow: hidden;
	text-align: left;
	min-height: 280px;
	position: relative;
	margin-bottom: 32px;
}

@media screen and (min-width: 768px) and (max-width: 991.99px) {
	.coming-soon-card {
		height: 340px;
	}
}

.coming-soon-header {
	padding: 0 20px 0 20px;
	margin: 20px 0 8px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #6C757D;
}

.gcard {
	padding-left: 0;
	padding-right: 15px;
	padding-top: 0;
	padding-bottom: 15px;
}

.guides-card {
	display: block;
	border: 1px solid transparent;
	border-top: 3px solid $color-light-blue;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	overflow: hidden;
	text-align: left;
	min-height: 250px;
	position: relative;
	margin-bottom: 32px;
}

.guides-card:hover {
	cursor: pointer;
	border-left: 1px solid $color-light-blue;
	border-right: 1px solid $color-light-blue;
	border-bottom: 1px solid $color-light-blue;
}

.guides-section {
	margin: 10px;
}

.guides-link {
	display: inline;
	vertical-align: bottom;
	bottom: 0;
	padding: 0 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	position: absolute;
	color: #0057c4;
}

abbr {
	position: relative;
}
abbr:hover::after {
	content: attr(data-title);
	position: absolute;
	width: 300px;
	left: 100%;
	display: block;
	padding: .5em;
	background: $color-theme-blue;
	border-radius:8px;
	color:white;
	z-index: 999;
}
abbr[data-title] {
	border-bottom: orange 2px dotted;
}

h2 abbr.title-icon i {
	font-size: 1.25rem;
	color: #3067AA;
}

abbr[data-title].title-icon {
	font-size: 1.0rem;
	line-height: 1.5rem;
	font-weight: normal;
	border-bottom: 0;
}
#capabilities-section {
	min-height: 251px;
	display: flex;
	align-items: center;
	@media(max-width: $screen-sm-min) {
		margin-top: 2rem;
		display: block;
	}
}
#capability-tile {
	display: inline-block;
	@media(max-width: $screen-sm-min) {
		text-align: center;
		display: block;
		float: none;
	}
}
.hover-title {
	display: none;
	font-size: 0.8rem;
}
#capability-title {
	width: 100%;
	height: 4rem;
	text-align: center;
	color: #4CA7F1;
	padding: 0;
	margin: 0;
}
.large-quote {
	font-family: $font-family-secondary;
	font-weight: 200;
	font-size: 2.75rem;
	font-style: italic;
	line-height: 3.25rem;
	display: inline-block;
	margin-top:-64px;
	width: 100%;
	@media(max-width: $screen-md-min) {
		font-size: 2rem;
		line-height: 3rem;
	}
}
