/**
 * Callout (components/_card.scss)
 */

/* Remove extra left and right margins, due to padding in columns */
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  padding: 0;
}
.card-container {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 60rem) {
    width: 33.3333%;
  }
  @media(max-width: 40rem) {
    width: 100%;
    display: block;
  }
}
.card-container a {
  border: 0;
}
/* Style the counter cards */
.card {
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  border: 1px solid #c0c0c0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
}
.card:hover {
  border: 1px solid $color-dark-blue;
  cursor: pointer;
}
/* Style the counter cards */
.card-header {
  text-align: left;
  font-weight: bold;
  color: $color-dark-blue;
  padding: 0.5rem 0.8rem;
  background-color: #f5f5f5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-body {
  padding: 0.8rem;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.2rem;
  background-color: #ffffff;
}
.card-title {
  padding: 0 0.8rem;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  color: $color-dark-blue;
}
.card-publisher {
  padding: 0 0.8rem;
  text-align: left;
  font-size: 0.8rem;
  color: #888888;
}
.card-footer {
  padding: 0.5rem 0.8rem;
  text-align: left;
  position: absolute;
  bottom: 0;
}
.card-container {
  display: none; /* Hidden by default */
}
.show {
  display: block;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 12px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 0.9rem;
}
/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}
/* Add a dark background to the active button */
.btn.active {
  background-color: $color-dark-blue;
  color: white;
}
.card-category {
  color: #222222;
  padding: .1em .4em .2em;
  margin-right: .2em;
  font-weight: normal;
  font-size: 75%;
}
.card-category-opensource {
  background-color: rgba(#AECEE5, 0.3);
  border: 1px solid #5C9CCB;
}
.card-category-proprietary {
  background-color: rgba(#B4AFE4, 0.3);
  border: 1px solid #6E63CC;
}
.card-category-build-integration {
  background-color: rgba(#AFE4BF, 0.3);
  border: 1px solid #73D08F;
}
.card-category-analysis {
  background-color: rgba(#FF891D, 0.3);
  border: 1px solid #FF7F0B;
}
.card-category-authoring {
  background-color: rgba(#E4AFAF, 0.3);
  border: 1px solid #CC6666;
}
.card-category-github-action {
  background-color: rgba(#EBE5A8, 0.3);
  border: 1px solid #FFEA1C;
}
.card-category-transform {
  background-color: rgba(#FF5F5F, 0.3);
  border: 1px solid #FF3333;
}
.card-category-library {
  background-color: rgba(#FF52AE, 0.3);
  border: 1px solid #FF33A0;
}
#category-description {
  color: #888888;
}
