/**
 * Callout (components/_collapsibles.scss)
 */

.collapsible {
  background-color: $color-white;
  color: $color-dark;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
}

.collapsible-active, .collapsible:hover {
  background-color: $color-collapsible-hover;
}

.collapsible:after {
  content: '\002B';
  color: $color-dark-blue;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible-active:after {
  content: "\2212";
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: $color-white;
}
