<div class="info-cards">
    <div class="info-card-container">
        <a href="/capabilities/sbom/" class="info-card">
            <h2>SBOM</h2>
            <h3>Software Bill of Materials</h3>
            <p>Inventory software components and services and the dependency relationships between them</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/saasbom/" class="info-card">
            <h2>SaaSBOM</h2>
            <h3>Software as a Service Bill of Materials</h3>
            <p>Inventory services, endpoints, and data flows and classifications that power cloud-native applications</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/cbom/" class="info-card">
            <h2>CBOM</h2>
            <h3>Cryptography Bill of Materials</h3>
            <p>Discover, manage and report on cryptography in preparation for quantum-safe systems and applications</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/vex/" class="info-card">
            <h2>VEX</h2>
            <h3>Vulnerability Exploitability eXchange</h3>
            <p>Convey the exploitability of vulnerable components in the context of the product in which they're used</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/hbom/" class="info-card">
            <h2>HBOM</h2>
            <h3>Hardware Bill of Materials</h3>
            <p>Inventory hardware components for IoT, ICS, and other types of embedded and connected devices</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/mlbom/" class="info-card">
            <h2>ML-BOM</h2>
            <h3>Machine-Learning Bill of Materials</h3>
            <p>Model and dataset transparency for security, privacy, safety and ethical considerations</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/attestations/" class="info-card">
            <h2>Attestations</h2>
            <h3>Attestations (CDXA)</h3>
            <p>Machine-readable statements of claims, evidence, and testimony in compliance with standards</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/mbom/" class="info-card">
            <h2>MBOM</h2>
            <h3>Manufacturing Bill of Materials</h3>
            <p>Declared and observed formulation for reproducibility throughout product lifecycle</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/obom/" class="info-card">
            <h2>OBOM</h2>
            <h3>Operations Bill of Materials</h3>
            <p>Full-stack inventory of runtime environments, configurations, and additional dependencies</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/vdr/" class="info-card">
            <h2>VDR</h2>
            <h3>Vulnerability Disclosure Report</h3>
            <p>Communicate known and unknown vulnerabilities affecting components and services</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/bomlink/" class="info-card">
            <h2>BOM-Link</h2>
            <h3>Bill of Materials Linkage Syntax</h3>
            <p>Reference components, services, or vulnerabilities in BOMs from other systems or other BOMs</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/bov/" class="info-card">
            <h2>BOV</h2>
            <h3>Bill of Vulnerabilities</h3>
            <p>Share vulnerability data between systems and sources of vulnerability intelligence</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
    <div class="info-card-container">
        <a href="/capabilities/release-notes/" class="info-card">
            <h2>Release Notes</h2>
            <h3>Common Release Notes Format</h3>
            <p>Standardizes release notes unlocking new workflows for software publishers and consumers</p>
            <div style="line-height: 3.0rem">&nbsp;</div>
        </a>
    </div>
</div>