<div class="code-example-tab">
    <input id="{{ include.id }}-tab1" class="inputtab1" type="radio" name="{{ include.id }}-pct"/>
    <input id="{{ include.id }}-tab2" class="inputtab2" type="radio" name="{{ include.id }}-pct" checked="checked" />
    <nav>
        <ul class="navtab">
            <li class="tab2">
                <label for="{{ include.id }}-tab2">JSON</label>
            </li>
            <li class="tab1">
                <label for="{{ include.id }}-tab1">XML</label>
            </li>
        </ul>
    </nav>
    <section>
