<h2>Java (Gradle)</h2>
<p>
    The Gradle plugin creates CycloneDX BOMs from existing Java projects. The plugin will
    automatically resolve all metadata for all direct and transitive dependencies.
</p>

<h5>Creating a BOM</h5>
{% highlight plaintext %}
{% raw %}
gradle cyclonedxBom
{% endraw %}
{% endhighlight %}

<h5>build.gradle (excerpt)</h5>
{% highlight groovy %}
{% raw %}
plugins {
  id 'org.cyclonedx.bom'
}

apply plugin: 'java'
apply plugin: 'maven'

repositories {
  mavenCentral()
}
{% endraw %}
{% endhighlight %}

<h5>settings.gradle (excerpt)</h5>
{% highlight groovy %}
{% raw %}
pluginManagement {
  resolutionStrategy {
    eachPlugin {
      if (requested.id.toString() == 'org.cyclonedx.bom') {
        useModule('org.cyclonedx:cyclonedx-gradle-plugin:1.1.1')
      }
    }
  }
  repositories {
    mavenCentral()
  }
}
{% endraw %}
{% endhighlight %}

NOTE: BOM generation can optionally be skipped by setting <code>cyclonedx.skip</code> to true.
